%div{:"ng-controller" => "emplCtrl"}
  .span2
    %h3 Employees Menu
    = button_tag "Add New", :type => 'button', :"ng-click" => "clearFrm()"

    <br>
    %h6 Listing employees

    %table{:"ng-repeat" => "entry in employees", :width => "250px"}
      %tr
        %td
          = link_to "{{entry.surname + ' ' + entry.name}}", "#", :"ng-click" => "editEmpl(entry.id)"
        %td{:align => "right"}
          = button_tag "Remove", :type => 'button', :"ng-click" => "delEmpl(entry.id)"

  .span10
    %h3 Employee Form
    = render "employees/form"
    = button_tag "test", :type => 'button', :"onclick" => "test()"
    = button_tag "Save New", :type => 'button', :id => "xaxa2", :"ng-show" => "state == 1", :"ng-click" => "saveEmpl()"
    = button_tag "Update", :type => 'button', :"ng-show" => "state == 2", :"ng-click" => "updateEmpl()"
    <br><br>
    = button_to "Back", root_path
