%p#notice= notice

%p
  %b Login:
  = @employee.login
%p
  %b Surname:
  = @employee.surname
%p
  %b Name:
  = @employee.name

= link_to 'Edit', edit_employee_path(@employee)
\|
= link_to 'Back', employees_path
